# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../:\Users\nicla\OneDrive\Dokumente\__Informatik_Erw__\Programmiermethodik\Proseminar\sheet_01\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
